@model AgendEsport_PI.Models.Agendamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esporte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgendamentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
