@{
    ViewBag.Title = "Esportes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Área destinada para a adição de novos esportes.</p>

@model IEnumerable<AgendEsport.Models.Esporte>

    <p>
        @Html.ActionLink("Novo esporte", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EsporteId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.EsporteId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.EsporteId })
                </td>
            </tr>
        }

    </table>

